.profileWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
}

.backWrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 18px;
  border-right: 1px solid #eaeaea;
  background-color: #fbfbfb;
  align-items: center;
  line-height: 100vh;
}
.backButton {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 15px;
  background-color: #3369F3;
  line-height: 30px;
  cursor: pointer;
}

.avatar {
  width: 130px;
  height: 130px;
  background-color: #EFEFEF;
  border-radius: 75px;
  color: black;
  font-size: 100px;
  line-height: 130px;
  text-align: center;
  cursor: pointer;
  transition: ease-in 500ms;
}

.avatar:before {
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  font-size: 14px;
  color: #fff;
  content: "Поменять аватар";
  word-break: break-all;
  background-color: #000;
  opacity: 0;
  font-weight: 600;
  border-radius: 75px;
  transition: ease-in 300ms;
}

.avatar:hover:before {
  opacity: 0.7;
  color: white;
}

.name {
  font-size: 16px;
  padding: 20px 0 60px 0;
  font-weight: 600;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #EAEAEA;
  width: 520px;
  transition: ease-in 500ms;
  border-bottom: 1px solid rgba(255, 255, 128, .0);
}

.label {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.input {
  outline: none;
  border: none;
  text-align: end;
  font-size: 16px;
  color: #999;
  font-weight: 500;
}

.form :first-child {
  border-top: none;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 50px;
}

.submit {
  margin: 50px auto 0 auto;
  width: 280px;
}

.blue {
  font-weight: 600;
  color: #3369F3;
}

.exit {
  font-weight: 600;
  color: red;
}

.footerControl {
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
  align-items: center;
  width: 510px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in 500ms;
}

.footerControl:hover{
  border-bottom: 1px solid #3369F3 !important;
  box-shadow: 0px 10px 15px -10px rgba(51,105,243, .5);
}

.control:hover{
  border-bottom: 1px solid #3369F3 !important;
  box-shadow: 0px 10px 15px -10px rgba(51,105,243, .5);
}

.controls :last-child {
  border-bottom: 1px solid rgba(51,105,243, 0);
}

.displayNone {
  display: none;
}

.displayBlock {
  display: none;
}
