:root {
  --background-color: #fbfbfb;
  --border-color: #eaeaea;
  --primary-blue-color: #3369f3;
  --alert-color: #ff2f2f;
  --input-color: #efefef;
  --message-text-color: #1e1e1e;
  --background-message-my-color: #e4edfd;
  --background-message-opponent-color: #f8f8f8;
  --placeholder-color: #5d5d5d;
  --primary-grey-color:
    #999
;
}
