.input-control {
  width: 100%;
  padding: 20px 0 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-blue-color);
}

.input-control::placeholder {
  color: var(--placeholder-color);
  font-size: 13px;
}

.label-control {
  position: absolute;
  top: 20px;
  color: #5d5d5d;
  font-size: 14px;
  cursor: text;
  transition: 0.2s ease all;
}

.input-control:focus::placeholder {
  opacity: 0;
}

.input-control:focus ~ label,
.input-control:not(:placeholder-shown) ~ label {
  top: 10px;
  font-size: 14px;
  color: var(--primary-blue-color);
}

.alert {
  padding: 5px 0 0;
  color: var(--alert-color);
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

.control {
  position: relative;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-flow: column-reverse;
}

.alert-none {
  height: 12px;
  opacity: 0;
}

.alert-none::after {
  height: 12px;
  content: " ";
}
