$backgroundGrey: #fbfbfb;
$borderGrey: #eaeaea;
$mainBlu: #3369F3;
$alertRed: #FF2F2F;
$primaryGrey: #999999;
$inputGrey: #efefef;
$message: #1e1e1e;
$backgroundOpponent:#f8f8f8;
$backgroundMy:#e4edfd
